:root {
  --transition_fast: all 0.2s ease;
}
* {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: darkslateblue;
}

h2 {
  color: darkslateblue;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger:hover {
  opacity: 0.9;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: darkslateblue;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: darkslateblue;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: darkslateblue;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--transition_fast);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: darkslateblue;
  color: white;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* Greeting */
.greeting__wrapper {
  text-align: center;
  border: 1px solid darkslateblue;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f1f5ff;
  color: darkslateblue;
}

.greeting__button {
  padding: 0.5rem;
  background-color: darkslateblue;
  color: white;
  border: 1px solid darkslateblue;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: var(--transition_fast);
}

.greeting__button:hover {
  opacity: 0.9;
}
