---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'My First Astro';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>I am building an Astro site!</h2>

  <p>I am working through Astro's introductory tutorial. This is the first page on my website!</p>
  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
</BaseLayout>
